@import '~antd/dist/antd.css';

.logo {
  color: white;
}

.content {
  padding: 50px 50px;
}

.footer {
  text-align: center;
}

#bg {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

.form-label {
  margin: 30px 15px 0px 10px;
}

.colon {
  font-size: 22px;
  margin-right: 8px;
}

#calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#calculate {
  width: 50px;
  height: 48px;
  margin: 24px 15px 0px 10px;
}

i.anticon.anticon-calculator {
  font-size: 30px;
}
